<h1>Editing chart type</h1>

<%= render "form", chart_type: @chart_type %>

<br>

<div>
  <%= link_to "Show this chart type", @chart_type %> |
  <%= link_to "Back to chart types", chart_types_path %>
</div>
